@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}


body {
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth!important;
    font-size: medium;
}
